// 1. Your custom variables and variable overwrites.
:root {
  --main: #07442d;
  --muted: #f6fdfb;
}

$global-color: #000000; // Font
$global-link-color: #000000;
$global-primary-background: #5a5a5a;
$global-secondary-background: #062918; // Section-Secondary
$global-muted-background: #f8f8f8; // Section-Muted
$navbar-background: rgb(255, 255, 255); // Navbar

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

// 5. Own CSS.
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Work+Sans:wght@200;400&display=swap');
@import "custom.scss";